
<style>
.zigzag-scroll-container {
  overflow-x: scroll;
  padding: 2rem 0;
}
.zigzag-scroll-wrapper {
  display: flex;
  gap: 6rem;
  padding-left: 40px;
  padding-bottom: 260px;
}
.zigzag-card {
  position: relative;
  width: 100%;
  flex: 0 0 20%;
}
.zigzag-card:nth-child(even) {
  transform: translateY(128px); 
}
.zigzag-card img,
.zigzag-card video {
  width: 100%;
}
.card-text {
  margin-top: 10px;
}
.card-text h2 {
  font-size: 24px;
  font-weight: bold;
}
.card-text p {
  font-size: 14px;
  color: #555;
}
@media(max-width: 1200px){
.zigzag-card {
  flex: 0 0 25%;
}
}
</style>
<div class="zigzag-scroll-container">
  <div class="zigzag-scroll-wrapper">
    {% for block in section.blocks %}
    <div class="zigzag-card">
      <div class="scroll-trigger animate--slide-in" data-cascade style="--animation-order: {{ forloop.index }};">
        {% if block.settings.video_url %}
          <video src="{{ block.settings.video_url }}" autoplay muted loop playsinline></video>
        {% elsif block.settings.image %}
          <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.title }}">
        {% endif %}
        <div class="card-text">
          <p>{{ block.settings.description }}</p>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Zigzag Scroll Section",
  "settings": [],
  "blocks": [
    {
      "type": "media_card",
      "name": "Media Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "Optional Video URL (MP4 only)"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "@ From side hustle to sauce business here we go."
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [{
    "name": "Zigzag Scroll Cards",
    "category": "Custom"
  }]
}
{% endschema %}
